<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Sigeho</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></link>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#table').DataTable();
            });
        </script>
    </head>



    <body>
        <div th:replace="/menu :: menu"/>
        <div class="container" style="width: fit-content">
            <h1>¡Hola, <span th:text="${username}"></span>!</h1>
            <br />
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Ap. Paterno</th>
                            <th>Ap. Materno</th>
                            <th>Fecha Nacimiento</th>
                            <th>Peso</th>
                            <th>Altura</th>
                            <th>Tipo Sangre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="paciente : ${pacientes}">
                            <td th:text="${paciente.nombre}"></td>
                            <td th:text="${paciente.apellidoPaterno}"></td>
                            <td th:text="${paciente.apellidoMaterno}"></td>
                            <td th:text="${paciente.fechaNacimiento}"></td>
                            <td th:text="${paciente.peso}"></td>
                            <td th:text="${paciente.altura}"></td>
                            <td th:text="${paciente.sangreTipo != null} ? ${paciente.sangreTipo.tipoSangre} : 'null value!'"></td>
                            <td><a href="#"
                                   th:href="@{/pacienteModificar?id=__${paciente.idPaciente}__}">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </a> <a href="#"
                                        th:href="@{/eliminarPaciente?id=__${paciente.idPaciente}__}">
                                    <button type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${result == 1}" class="alert alert-success" role="alert">Modificado
                correctamente!</div>
            <div th:if="${result == 0}" class="alert alert-danger" role="alert">Error
                al modificar!</div>

            <form  th:action="@{/logout}" method="POST">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    Salir
                </button>
            </form>
        </div>
    </body>
</html>
