<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Sigeho</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                console.log("ready!!!!");
                $.ajax({
                    url: "/tiposangre",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    success: function (msg) {

                        console.log("TipoSangre OK!!!!");
                        
                        $("#sangreTipo").get(0).options.length = 0;
                        $("#sangreTipo").get(0).options[0] = new Option("Selecciona el tipo de Sangre", "-1");

                        $.each(msg, function (index, item) {
                            console.log(item.idTipoSangre);
                            console.log("Ciclo OK!!!!");
                            $("#sangreTipo").get(0).options[$("#sangreTipo").get(0).options.length] = new Option(item.tipoSangre, item.idTipoSangre);
                        });

                    }
                });

                $("#save").click(function () {
                    addPaciente();
                });
            }
            );

            function addPaciente() {
                console.log('addPaciente');
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: "/pacientes",
                    dataType: "json",
                    data: formToJSON(),
                    success: function (data, textStatus, jqXHR) {
                        alert('Paciente created successfully');
                        window.location.replace("/pacientesConsulta");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('addPaciente error: ' + textStatus);
                    }
                });
            }

            function formToJSON() {
                return JSON.stringify({
                    "nombre": $('#nombre').val(),
                    "apellidoPaterno": $('#apellidoPaterno').val(),
                    "apellidoMaterno": $('#apellidoMaterno').val(),
                    "telefono": $('#telefono').val(),
                    "fechaNacimiento": $('#fechaNacimiento').val(),
                    "peso": $('#peso').val(),
                    "altura": $('#altura').val(),
                    "sangreTipo": parseInt($('#sangreTipo option:selected').val())
                });
            }
        </script>
    </head>

    <body>
        <div th:replace="/menu :: menu"/>
        <div class="container" style="width:70%">
            <h2 class="form-signin-heading">Registrar Paciente</h2>

            <form th:object="${paciente}" method="post" id="form" >
                <input type="hidden" th:field="*{idPaciente}"></input>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" th:field="*{nombre}" th:value="${nombre}"/>
                </div>
                <div class="form-group">
                    <label>Apellido Paterno:</label>
                    <input type="text" class="form-control" th:field="*{apellidoPaterno}" th:value="${apellidoPaterno}"/>
                </div>
                <div class="form-group">
                    <label>Apellido Materno:</label>
                    <input type="text" class="form-control" th:field="*{apellidoMaterno}" th:value="${apellidoMaterno}"/>
                </div>
                <div class="form-group">
                    <label>Telefono:</label>
                    <input type="number" maxlength="10" class="form-control" th:field="*{telefono}" th:value="${telefono}"/>
                </div>
                <div class="form-group">
                    <label>Fecha Nacimiento:</label>
                    <input type="date" class="form-control" th:field="*{fechaNacimiento}" th:value="${fechaNacimiento}"/>
                </div>
                <div class="form-group">
                    <label>Peso:</label>
                    <input type="text" class="form-control" th:field="*{peso}" th:value="${peso}"/>
                </div>
                <div class="form-group">
                    <label>Altura:</label>
                    <input type="text" class="form-control" th:field="*{altura}" th:value="${altura}"/>
                </div>
                <div class="form-group">
                    <label>Tipo de Sangre:</label>
                    <select class="form-control" th:field="*{sangreTipo.tipoSangre}" th:value="${sangreTipo}" id="sangreTipo"/>
                </div>
            </form>
            <button class="btn btn-lg btn-primary btn-block" id="addPaciente" onclick="addPaciente()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>

        </div>
    </body>
</html>
