
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Persons</title>

<link href="./assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" th:src="@{js/jquery-3.2.1.js}" ></script>
<script type="text/javascript">
    
    $( document ).ready(function() {
    console.log( "ready!" );
     alert('hola');
    $.ajax({
        url: "/Person",
        context: document.body
        }).done(function() {
          console.log(data);
          alert('hola');
        });
});


    
</script>


</head>
<body>


    <table class="table">
     <thead >
            <tr>
                <th class="tab-content">Nombre</th>
            <th>ApellidoPaterno</th>
            <th>ApellidoMaterno</th>
            </tr>
        </thead>
        <tbody>



                <tr  th:each="person : ${persons}">

                    <td  th:text="${person.name}"></td>
                    <td th:text="${person.surname}"></td>
                    <td th:text="${person.birthday}"></td>
                </tr>      
          

        </tbody>

    </table>

</body>
</html>